{
	"extends": ["airbnb", "prettier", "prettier/react"],
	"parser": "babel-eslint",
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-filename-extension": 0,
		"react/react-in-jsx-scope": 0,
		"no-underscore-dangle": 0
	}
}
